[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eve = "*"
python-stdnum = "*"
google-api-python-client = "*"
rq = "*"

[dev-packages]

[requires]
python_version = "3.6"
